@font-face
  font-family Source Han Sans JP
  font-weight 100
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-ExtraLight.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 200
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Light.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 300
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Normal.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 400
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Regular.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 500
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 600
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Bold.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 700
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Heavy.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 100
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-ExtraLight.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 200
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Light.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 400
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Regular.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 500
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Medium.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 600
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-SemiBold.otf) format('opentype')

@font-face
  font-family Inconsolata
  font-weight: 400
  src url(/assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype')

@font-face
  font-family Inconsolata
  font-weight: 700
  src url(/assets/fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype')