@font-face
  font-family Source Han Sans JP
  font-weight 400
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Regular.otf) format('opentype')

@font-face
  font-family Source Han Sans JP
  font-weight 700
  src url(/assets/fonts/SourceHanSansJP/SourceHanSansJP-Bold.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 400
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Regular.otf) format('opentype')

@font-face
  font-family: Source Han Serif JP
  font-weight: 600
  src: url(/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-SemiBold.otf) format('opentype')

@font-face
  font-family Inconsolata
  font-weight: 400
  src url(/assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype')

@font-face
  font-family Inconsolata
  font-weight: 700
  src url(/assets/fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype')

@font-face
  font-family: Gothic MB101
  font-weight: 400
  src: url(/assets/fonts/GothicMB101/GothicMB101Pr6-Reg.otf) format('opentype')
@font-face
  font-family: Gothic MB101
  font-weight: 700
  src: url(/assets/fonts/GothicMB101/GothicMB101Pr6-Bold.otf) format('opentype')

@font-face
  font-family: Hiragino UD Sans Rd
  font-weight: 400
  src: url(/assets/fonts/HiraginoUDSansRd/HiraginoUDSansRd-W4.otf) format('opentype')
@font-face
  font-family: Hiragino UD Sans Rd
  font-weight: 600
  src: url(/assets/fonts/HiraginoUDSansRd/HiraginoUDSansRd-W6.otf) format('opentype')

@font-face
  font-family: TBUDGothic
  font-weight: 400
  src: url(/assets/fonts/TBUDGo/TBUDGoStd-Regular.otf) format('opentype')
@font-face
  font-family: TBUDGothic
  font-weight: 800
  src: url(/assets/fonts/TBUDGo/TBUDGoStd-ExBold.otf) format('opentype')

@font-face
  font-family: Ten Mincho Text
  font-weight: 400
  src: url(/assets/fonts/TenMinchoText/TenMinchoText-Regular.otf) format('opentype')

@font-face
  font-family: UD Shin Go NT
  font-weight: 400
  src: url(/assets/fonts/UDShinGoNT/UDShinGoNTPr6-Regular.otf) format('opentype')
@font-face
  font-family: UD Shin Go NT
  font-weight: 700
  src: url(/assets/fonts/UDShinGoNT/UDShinGoNTPr6-Bold.otf) format('opentype')
