@media screen
  body
    margin: auto 4rem
    padding-bottom: 4rem
    max-width: 960px

  section
    clear: both

  figure
    max-width: 600px

  // nav#toc
  //   position: fixed
  //   background-color: #ffffff
  //   top: 0
  //   bottom: 0
  //   left: 0
  //   overflow-y: scroll
  //   padding: 2rem 3rem
  //   width: 240px
  //   z-index: 1000

  //   .toc-title
  //     display: none

  //   li > a:hover
  //     background-color: rgba(0, 0, 0, 0.08)

  // section#index
  //   display: none

  .footnote
    vertical-align: super
    background-color: rgba(214, 255, 0, 0.4)
    margin: 0 .1rem

  a[data-ref="sec"]
  a[data-ref="subsec"]
  a[data-ref="fig"]
  a[data-ref="tbl"]
  a[data-ref="cite"]
    color: #bb0000
    background-color: rgba(255, 0, 0, 0.3)
  a[data-ref="sec"]::before
    content: 'XXX 章'
  a[data-ref="subsec"]::before
    content: 'XXX.XXX 章'
  a[data-ref="fig"]::before
    content: '図 XXX'
  a[data-ref="tbl"]::before
    content: '表 XXX'
  a[data-ref="cite"]::before
    content: '[XXX]'

@media print
  :root
    widows: 3
    orphans: 3
    hyphens: auto
    font-size: $master-font-size-for-print

  h1, h2, h3, h4, h5, h6
    break-after: avoid

  tr, th, td
    break-inside: avoid

@page
  size: $page-width $page-height
  margin-top: $page-margin-top
  margin-bottom: $page-margin-bottom

  // for publishing output
  // bleed: $page-bleed
  // marks: crop cross

  page-top-style()
    content: ''
    margin-bottom: 8mm
    // border-bottom: 1px solid
    background-color: #000000

  @top-left-corner
    page-top-style()
  @top-center
    page-top-style()
    margin-left: -1mm
    margin-right: -1mm
    padding-left: 1mm
    padding-right: 1mm
  @top-right-corner
    page-top-style()

@page :left
  margin-left: $page-margin-outer
  margin-right: $page-margin-inner

  @top-center
    content: env(pub-title)
    font: $nombre-font
    color: #ffffff
    text-align: left
    padding-top: 8mm
  @bottom-left
    content: counter(page)
    font: $nombre-font
    border-left: 1px solid
    margin-top: 12mm
    margin-left: -6mm
    padding: 0 6mm

@page :right
  margin-left: $page-margin-inner
  margin-right: $page-margin-outer

  @top-center
    content: env(doc-title)
    font: $nombre-font
    color: #ffffff
    text-align: right
    padding-top: 8mm
  @bottom-right
    content: counter(page)
    font: $nombre-font
    border-right: 1px solid
    margin-top: 12mm
    margin-right: -6mm
    padding: 0 6mm

@page :first
  margin-left: $page-margin-outer

  @bottom-left
  @bottom-right
  @top-left
  @top-right
    content: ''
