@charset 'UTF-8'

$body-font = 400 15px 'Source Han Serif JP'
$body-line-height = 1.6
$heading-font = 500 15px 'Source Han Sans JP'
$header-line-height = 1.6
$code-font-family = Inconsolata, 'Source Han Sans JP'
$nombre-font = 400 15px 'Source Han Serif JP'
$pre-font = 500 8.5px $code-font-family
$pre-line-height = 1.3

// A4
$page-width = 210mm
$page-height = 297mm

$image-margin = 1rem
$page-margin-top = 25mm
$page-margin-bottom = 30mm
$page-margin-outer = 18mm
$page-margin-inner = 35mm

$h1-margin = 1.8rem 0 1.2rem 0
$h1-font-size = 160%

$h2-margin = 1.8rem 0 1.2rem 0
$h2-font-size = 150%

$h3-margin = 1.6rem 0 .8rem 0
$h3-font-size = 120%

$paragraph-margin = 0 0 .4rem 0
$section-margin = 2rem 0 4rem 0

$color-link-text = #2798bd
$color-code-text = #f8f8f2
$color-code-bg = #272822
$color-code-comment = #a9b4bf
$color-code-punctuation = #f8f8f2
$color-code-symbol = #f92672
$color-code-number = #ae81ff
$color-code-string = #a6e22e
$color-code-variable = #f8f8f2
$color-code-function = #e6db74
$color-code-keyword = #66d9ef
$color-code-important = #fd971f

@import '../node_modules/ress/ress.css'
@import '_font'
@import '_page'
@import '_code'
@import '_counter'
@import '_media'
