<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title あとがき
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/assets/fontawesome-free/css/all.min.css")
  body

    section#profile
      h3 著者プロフィール

      .author
        img(src="/assets/arinoth.jpg")
        .profile
          h4 arinoth（大津雄一郎）
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | arinoth
          div
            | 編集プロダクションリブロワークス取締役。普段は IT 系の商業出版物の編集・ライティングをしています。最近の主な仕事はふりがなプログラミングシリーズなど。
            br
            | 会社 HP：
            a(href="https://libroworks.co.jp") https://libroworks.co.jp

      .author
        img(src="/assets/takanakahiko.jpeg")
        .profile
          h4 takanakahiko
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | takanakahiko
          code
            i(class="fab fa-github" aria-hidden="true")
            | takanakahiko
          div
            | 私の章のタイトルはアイカツ！ 1 話のパロディです

      .author
        img(src="/assets/yamasy1549.png")
        .profile
          h4 やましー
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | yamasy1549
          code
            i(class="fab fa-github" aria-hidden="true")
            | yamasy1549
          div
            | コナモノ天国、ハッピッピ～♪

      .author
        img(src="/assets/spring-raining.png")
        .profile
          h4 緑豆はるさめ
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | spring_raining
          code
            i(class="fab fa-github" aria-hidden="true")
            | spring-raining
          div
            | この本の中で 1px 未満ボーダーを実現している箇所があるのですが、どこにあるか分かりますか？ CSS のソースを見てみてください、ウワッてなりますよ。

      .author
        img(src="/assets/MurakamiShinyu.jpeg")
        .profile
          h4 村上真雄
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | MurakamiShinyu
          code
            i(class="fab fa-github" aria-hidden="true")
            | MurakamiShinyu
          div
            | Vivliostyle Foundation 代表です。CSS 組版ちょっとできます。

    section#colophon
      h2.title Vivliostyle で本を作ろう Vol.1
      ul.editions
        li
          time(datetime='2019-04-14') 2019年4月14日
          | 初版発行
      table.info
        tr
          td 発行
          td Vivliostyle ユーザー会
        tr
          td 編集
          td 緑豆はるさめ<br/>
            | https://harusamex.com<br/>
            | harusamex.com@gmail.com
        tr
          td 印刷
          td ねこのしっぽ (表紙: ホワイトポスト レザーPP加工 / 本文: 上質紙 90kg)<br/>
            | https://www.shippo.co.jp/neko/
      div
        | <br/>
        | © Vivliostyle User Group
