<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivliostyle で本を作ろう Vol. 1
    link(rel="stylesheet", href="/main.css")
  body
    h1 Vivliostyle で本を作ろう Vol. 1

    h2.toc-header 目　次

    nav#toc(role="doc-toc")
      ol
        li
          a(href="maegaki.html") まえがき
        li.arinoth
          a(href="arinoth/index.html")
            .content
              .title EPUB Adaptive Layout による<wbr/>段組み混在レイアウトへの挑戦
              .author arinoth
        li.takanakahiko
          a(href="takanakahiko/index.html")
            .content
              .title 私が組版オペレータになっても？
              .author takanakahiko
        li.yamasy
          a(href="yamasy/index.html")
            .content
              .title CSS 組版やってみた！
              .author やましー
        li.spring_raining
          a(href="spring_raining/index.html")
            .content
              .title Vivliostyle.js: TypeScript 化の道のり
              .author 緑豆はるさめ
        li.shinyu
          a(href="shinyu/index.html")
            .content
              .title Vivliostyle Viewer で CSS 組版ちょっと入門
              .author 村上真雄
        li
          a(href="atogaki.html") あとがき
