<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivliostyle Viewer で CSS 組版ちょっと入門
    link(rel="stylesheet", href="main.css")
  body
    article
      include:marked draft.md
