<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title EPUB Adaptive Layout による段組み混在レイアウトへの挑戦
    link(rel="stylesheet", href="main.css")
  body
    article
      include:marked arinoth_genkou.md
