@charset 'UTF-8'

@import '../_variable'

$body-font-family = 'Ten Mincho Text'
$body-font-weight = 400
$heading-font-family = 'UD Shin Go NT'
$heading-font-weight = 800
$master-font-size-for-print = 78%
$paragraph-margin = 0 0 1.2rem 0

@import '../../node_modules/ress/ress.css'
@import '../_font'
@import '../_page'
@import '../_code'
@import '../_counter'
@import '../_media'
